apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: drupal-hpa
  namespace: uareviews
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: drupal-dep
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
