apiVersion: apps/v1
kind: Deployment
metadata:
  name: drupal-dep
  namespace: uareviews
spec:
  replicas: 1
  selector:
    matchLabels:
      app: drupal
  template:
    metadata:
      labels:
        app: drupal
    spec:
      containers:
      - name: drupal
        image: docker.io/uareviews/drupal:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        env:
        - name: MYSQL_DATABASE
          valueFrom:
            configMapKeyRef:
              name: drupal-settings
              key: MYSQL_DATABASE
        - name: MYSQL_USER
          valueFrom:
            configMapKeyRef:
              name: drupal-settings
              key: MYSQL_USER
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: drupal-secret
              key: MYSQL_PASSWORD
        - name: MYSQL_HOST
          valueFrom:
            configMapKeyRef:
              name: drupal-settings
              key: MYSQL_HOST
        - name: MYSQL_PORT
          valueFrom:
            configMapKeyRef:
              name: drupal-settings
              key: MYSQL_PORT

        volumeMounts:
        - name: drupal-pvc
          mountPath: /var/www/localhost/htdocs/drupal/sites/default/files
      volumes:
      - name: drupal-pvc
        persistentVolumeClaim:
          claimName: drupal-pvc
